.myFavorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}



.myFavoritesContener {
    width: 98%;
    max-width: 1480px;
    min-height: calc(100vh - 150px);
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;

}

.prevMonth,
.recently {
    width: 100%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contenerManth {
    width: 98%;
    border-radius: 16px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 30px;
    padding-bottom: 10px;
    align-items: center;
}

.prevMonthTitle,
.recentlyTitle {
    width: 100%;
    height: 54px;
    background-color: var(--primary-dark);
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 10px;
    box-shadow: var(--component-shadow);
}

.deletAll {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: red;
    color: var(--primary-light);
    transition: all 0.01s linear;
    border: none;
}

.deletAll:active {
    transform: scale(0.9);
    transition: all 0.01s linear;
    border: none;
}

.deletAll:hover {
    border: 3px solid white;
    border: none;
}

.hrMyFavorites {
    width: 98%;
}


.heart {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}