.drowpListT {
    min-width: 200px;
    /* width: 20%; */
    min-height: 100px;
    background-color: var(--primary-light);
    box-shadow: var(--component-shadow);
    position: absolute;
    top: 45px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px;
}

.drowpListF {
    display: none;
}

.linkDL {
    text-decoration: none;
    color: #000;
    width: 100%;
}

.listItem {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light);
    box-shadow: var(--component-shadow);
    border-radius: 4px;

}

.listItem:hover {
    background-color: var(--primary-yellow);
}


/* .login {
    width: 100%;
    height: 30px;
    background-color: var(--primary-yellow);
    border: none;
    color: var(--primary-dark);
    border-radius: 8px;
    transition: all 1ns ease-in-out;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */