.chocolateCard {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 0px;
    color: var(--component-textColor);
}

.chocolateHader {
    width: 100%;
    height: 85px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: var(--component-Color);
    color: var(--component-textColor);
    box-shadow: var(--component-shadow);
    z-index: 50;
}

.chocolateItame {
    width: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chocolateImage {
    width: 65px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
}

.chocolateItame1 {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}



.cardButton {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.deleteChock {
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 8px;
    border: 0;
    margin: 0;
    color: var(--primary-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s linear;
}

.chocolateColor1 {
    width: 100%;
    height: 120px;
    background-color: var(--primary-light);
    transition: all 0.5s linear;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    color: chocolate;
    padding: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-top: -5px;
    box-shadow: var(--component-shadow);
}

.chocolateColor2 {
    width: 100%;
    height: 0px;
    background-color: var(--primary-light);
    transition: all 0.5s linear;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    gap: 5px;
    align-items: center;
    color: chocolate;
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.updateChoco {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    background-color: var(primary-light);
    box-shadow: var(--component-shadow);
    padding: 10px;
    border-radius: 8px;
}