.productCard {
    width: 250px;
    height: 375px;
    /* width: 100%;
    height: 100%; */
    background-color: var(--component-Color);
    color: var(--component-textColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 4px 5px 12px black;
    /* box-shadow: var(--component-shadow); */
    transition: all 0.1s linear;
    gap: 5px;
}

/* @media screen and (max-width: 465px) { */

@media screen and (max-width: 600px) {
    .productCard {
        width: 100%;
        height: 100%;
    }
}

.imageCard {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-Card {
    width: 100%;
}

.phr {
    color: var(--primary-yellow);
    width: 100%;
    margin: 5px;
    opacity: 1;
}

.productTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.pName {
    /* color: var(--component-textColor); */
    font-size: 12px;
    font-weight: 800;
}

.pDate {
    font-size: 10px;
    color: var(--title-textColor);
    border-radius: 8px;
    background-color: var(--title-Color);
    width: 100%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* color: var(--component-textColor); */
}

.cardDescription {
    width: 98%;
    min-height: 37px;
    color: var(--component-textColor);
    font-size: 11px;
}

/* .pPrice {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--component-textColor);
    font-size: 12px;
} */

/* .add {
    width: 100%;
    height: 40px;
    background-color: #F1C92F;
    border-radius: 8px;
    border: 0;
    margin: 0;
    color: aliceblue;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s linear;
    font-weight: bold;
    font-size: 22px;
} */

/* .add:hover {
    box-shadow: 0px 0px 13px #F1C92F;
} */

.producButten {
    position: absolute;
    width: 100%;
    bottom: -50px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s linear;
    padding: 0 5px;
}

.favoret {
    width: 25%;
    height: 35px;
    background-color: #0000008d;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: 0px;
    border-radius: 8px;
    margin-right: 3px;
}

.favoret>SVG:active {
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
}

.favoretIcon {
    width: 27px;
}

.share {
    width: 25%;
    height: 35px;
    background-color: #0000008d;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: 0px;
    border-radius: 8px;
    margin-left: 3px;
}

.shareIcon {
    width: 20px;
}

.imgNum {
    width: 30%;
    height: 30px;
    background-color: #0000008d;
    position: absolute;
    top: -35px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    transition: all 0.1s linear;
}

.productCard:hover {
    scale: 1.05;
    box-shadow: 4px 4px 20px black;
}

.productCard:hover .producButten {
    bottom: 3px;
}

.productCard:hover .imgNum {
    top: 5px;
}

.colorsCard,
.sizesCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}

.sizeCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-yellow);
    border-radius: 6px;
    padding: 1px 3px;
    font-size: 12px;
    color: var(--primary-dark);
}

.colorCard {
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.cardTail {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardImg {
    text-decoration: none;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 11px;
}

.cardButton {
    width: 100%;
    height: 40px;
    background-color: var(--primary-yellow);
    border: none;
    color: #202126;
    border-radius: 11px;
    transition: all 0.5ns ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardButton:hover {
    border: 4px solid white;
    box-shadow: 3px 4px 16px 6px var(--primary-yellow);
}