.cartFlowers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
    background-color: var(--component-Color);
    color: var(--component-textColor);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    color: white;
    padding: 5px;
}

.div90 {
    width: 100%;
    width: calc(100% - 100px);
    gap: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: stretch;
    justify-content: flex-start; */

}

.div80 {
    width: 100%;
    gap: 5px;
    display: flex;
    padding-right: 10px;
    /* align-items: stretch;
    justify-content: flex-start; */
}

.flowrTitel {
    width: 100%;
    display: flex;
    gap: 5px;
}


.cartPerfumes {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .div100 {
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.div31 {
    width: 100%;
    height: 30px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}


.cartFlowersName {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px;
    color: var(--component-textColor);
}

.cartDelete1 {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    color: red;
    padding-bottom: 4px;
    justify-content: space-around;
    align-items: center;
}

/* .perfumePrice {
    width: 80px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--component-textColor);
} */

.allChocolates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    align-items: center;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    border-radius: 8px;
    color: var(--component-textColor);
    margin-top: 5px;
}

.choo {
    width: 100%;
    min-height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
    border: 2px solid var(--primary-yellow);
    color: var(--component-textColor);
    background-color: var(--component-Color);
    box-shadow: var(--component-shadow);
}

.chocolateIcon {
    color: var(--primary-yellow);
}

/* .allChocolates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    margin-bottom: 5px;
    background-color: #30323f;
    border-radius: 8px;
    color: #202126;
} */

.cartChocolates {
    background-color: #F1C92F;
    border-radius: 8px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    gap: 10px;
}

.allChocolatesTitel {
    color: #F1C92F;
}

.ccc {
    background-color: #202126;
    padding: 5px;
    border-radius: 4px;
    width: 50%;
    color: white;
}

.ms {
    width: 60px;
}

.ms:hover {
    animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.mass1 {
    width: 100%;
    min-height: 300px;
    position: fixed;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 70;
    align-items: center;
    justify-content: center;
}



.typewriter {
    overflow: hidden;
    border-right: .15em solid #F1C92F;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }

    100% {
        border: none
    }

}