.addProductContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.newProductOpen {
    width: 100%;
    min-height: 200px;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    /* padding-top: 0; */
}

.newProductClose {
    width: 100%;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    /* padding-top: 0; */
}

.productArrwClose {
    width: 30px;
    height: 30px;
    color: #202126;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    margin-right: 20px;
    /* background-color: #9e4d61; */
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.productArrwOpen:hover {
    background-color: #5457684f;
}

.productArrwClose:hover {
    background-color: #5457684f;
}

.productArrwOpen {
    width: 30px;
    height: 30px;
    color: #202126;
    transform: rotate(90deg);

    transition: all 0.5s ease-in-out;
    margin-right: 20px;
    /* background-color: #9e4d61; */
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiddenBody {
    display: none;

}

.productHader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    background-color: #202126;
    border-radius: 8px;
    padding: 20px;
    color: aliceblue;
}

.hrProduct {
    width: 100%;
    margin: 20px 0px;

}

.addCategory2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-items: flex-end;
}

.rowEdit {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.byPoints {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.form-check-input:checked {
    background-color: #f1c92f;
    border-color: #ffffff;

}

/* ///////// */
.sizeBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    margin-top: 5px;

}

.haderSizeline {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.haderSizeline>.sizeCall2,
.haderSizeline>.sizeCall1 {
    background-color: #F1C92F;
    font-weight: 700;

}

.sizeLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    /* height: 20px; */
}

/* .sizeLine:nth-child(odd) .sizeCall {
    background-color: #cdcdcb;
} */
.sizeLine>.sizeCall2,
.sizeLine>.sizeCall1 {
    background-color: white;
}

.sizeLine:hover .sizeCall2,
.sizeLine:hover .sizeCall1 {
    box-shadow: inset 0px 0px 5px 2px #f1c92fb0;
    border: 2px solid #f1c92f;

}

.sizeCall1 {
    width: 33.33%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #202126;
    transition: all 0.5ns ease-in-out;
}

.sizeCall2 {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #202126;
    transition: all 0.5ns ease-in-out;
}

/* //////////// */