.myOffers {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.addOffer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    background-color: var(--component-Color);
    border-radius: 8px;
    padding: 20px;
    color: var(--component-textColor);
    grid-column: 2 span
}

/* displayNewCategory */
.disblayOffer {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--component-shadow);
    padding: 20px;
    border-radius: 8px;
}

.newImageOffer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    border: 5px solid var(--border-color);
    box-shadow: 4px 5px 12px black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-yellow);
    overflow: hidden;
}

.editOfferInfo {
    width: 100%;
    min-height: 20%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 4px 5px 12px black;
    background: #202126;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.currentOffers {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    padding: 10px;
    padding-top: 50px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
    align-items: stretch;
    box-sizing: border-box;
}

@media (max-width : 900px) {
    .disblayOffer {
        grid-column: 2 span;
        width: 50%;
    }
}

.textarea2 {
    max-height: 200px;
}

.newOffer {
    width: 100%;
    min-height: 200px;
    background-color: var(--component-Color);
    color: var(--component-textColor);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: stretch;
    justify-items: center;
    gap: 10px;
    box-shadow: var(--component-shadow);
}

.offerProducts {
    width: 100%;
    height: 266px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--component-Color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--component-shadow);
}

.offerProducts1 {
    width: 100%;
    min-height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    background-color: aliceblue;
    border-radius: 8px;
}

.emtidiv {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: aliceblue;
    border-radius: 8px;
}



.addBtn {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-left: 0px;
}

.formButtonProduct1 {
    width: calc(70% - 10px);
    /* max-width: 90%; */
    height: 40px;
    background-color: #F1C92F;
    border: none;
    color: #202126;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.formButtonProduct2 {
    width: 30%;
    /* max-width: 90%; */
    height: 40px;
    background-color: #F1C92F;
    border: none;
    color: #202126;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}