.editeOffers {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.editeCategoryTitle {
    width: 98%;
    max-width: 1480px;
    height: 54px;
    background-color: #202126;
    color: white;
    font-family: Script MT;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.editeOfferContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.activeTitel {
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.newImageCategory {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 4px 5px 12px black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd300;
    overflow: hidden;
    position: relative;
}


.editOfferDisplay {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

@media (max-width : 1080px) {
    .editOfferDisplay {
        grid-column: 2 span;
    }
}

.newTitleCategory {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 4px 5px 12px black;
    background: #F1C92F;
    font-family: Script MT;
    font-weight: bold;
    font-size: xX-large;
    color: black;
    position: relative;
    overflow: hidden;
}

.nameTop {
    position: absolute;
    width: 100%;
    font-size: xX-large;
    background-color: #F1C92F;
}

.imageCat {
    width: 100%;
}

.imageCatTop {
    position: absolute;
    top: 0;
    width: 100%;
}

.newOffer {
    width: 100%;
    min-height: 200px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    align-items: stretch;
    gap: 10px;
}

.editeOffer {
    width: 100%;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    background-color: #202126;
    border-radius: 8px;
    padding: 20px;
    color: aliceblue;
    grid-column: span 2
}

.addCategory2,
.addCategory1 {
    width: 100%;
}

.produtsByOffer {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    gap: 10px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    box-sizing: border-box;
}



.editInfo {
    border: none;
    transition: all 5ms ease-in-out;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F1C92F;
    border: none;
    color: #202126;
    border-radius: 8px;
}

.editInfo:hover {
    border: 2px solid white;
    box-shadow: 3px 4px 16px 6px #F1C92F;
}

.editInfo:active {
    transform: scale(0.9, 0.9);
}

.onOff {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.activeFalse {
    position: absolute;
    top: 0;
    width: 150px;
    height: 50px;
    /* background-color: red; */
    z-index: 100;
    border-radius: 8px;
    right: 0px;
}

.activeTrue {
    position: absolute;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: green;
    z-index: 100;
    border-radius: 8px;
    right: 0px;
}

.productsTitle {
    width: 30%;
    /* height: 86px; */
    padding: 11px;
    background-color: #202126;
    color: white;
    border-radius: 8px;
    font-family: Script MT;
    font-weight: bold;
    font: size 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -35px;
    z-index: 50;
}

.divPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.oldPrice {
    text-decoration: line-through;
}

.offerPro {
    width: 200px;
    height: 320px;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    box-shadow: 4px 5px 12px black;
    transition: all 0.1s linear;
}

.offerPro:hover {
    scale: 1.05;
    box-shadow: 4px 4px 20px black;
}

.arrayImg {
    width: 190px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 8px;
}

.arrayName {
    width: 100%;
    background-color: rgb(223, 220, 220);
    border-radius: 8px;
    font-size: 12px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrayDesc {
    width: 100%;
    background-color: rgb(223, 220, 220);
    border-radius: 8px;
    font-size: 12px;
    height: calc(100% - 215px);
}

.noProducts {
    width: 98%;
    height: 200px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    animation: foggy 2s ease-in-out;
}

@keyframes foggy {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.aboveHand {
    animation: upDown 1s infinite ease-in-out;
    transform-origin: bottom;
    margin-left: 10px;
}

@keyframes upDown {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}