.editeOffers {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    color: var(--component-textColor);
}

.nameTop {
    position: absolute;
    width: 100%;
    font-size: xX-large;
    background-color: #F1C92F;
}

.imageCatTop {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}


.editeOffer {
    width: 100%;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 8px;
    padding: 20px;
    color: var(--component-textColor);
    grid-column: span 2
}

.addCategory2,
.addCategory1 {
    width: 100%;
    /* color: var(--secondary-light); */
}

.produtsByOffer {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    gap: 10px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    box-sizing: border-box;
}



.editInfo {
    border: none;
    transition: all 5ms ease-in-out;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #F1C92F;
    border: none;
    color: #202126;
    border-radius: 8px;
    padding: 5px;
}



.editInfo:hover {
    border: 2px solid white;
    box-shadow: 3px 4px 16px 6px #F1C92F;
}

.editInfo:active {
    transform: scale(0.9, 0.9);
}

.onOff {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.activeFalse {
    position: absolute;
    top: 0;
    width: 150px;
    height: 50px;
    /* background-color: red; */
    z-index: 100;
    border-radius: 8px;
    right: 0px;
}

.activeTrue {
    position: absolute;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: green;
    z-index: 100;
    border-radius: 8px;
    right: 0px;
}

.divPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.oldPrice {
    text-decoration: line-through;
}

.offerPro {
    width: 200px;
    height: 320px;
    background-color: var(--component-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    box-shadow: var(--component-shadow);
    transition: all 0.1s linear;
}

.offerPro:hover {
    scale: 1.05;
    box-shadow: 4px 4px 20px black;
}

.arrayImg {
    width: 190px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 8px;
}

.arrayName {
    width: 100%;
    background-color: rgb(223, 220, 220);
    border-radius: 8px;
    font-size: 12px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrayDesc {
    width: 100%;
    background-color: rgb(223, 220, 220);
    border-radius: 8px;
    font-size: 12px;
    height: calc(100% - 215px);
}

@keyframes foggy {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.aboveHand {
    animation: upDown 1s infinite ease-in-out;
    transform-origin: bottom;
    margin-left: 10px;
}

@keyframes upDown {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}