.myCategory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.myCategoryContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;

}

.newImageCategory {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 5px solid var(--border-color);
    box-shadow: 4px 5px 12px black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-yellow);
    overflow: hidden;
}

.newTitleCategory {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 4px 5px 12px black;
    background: var(--primary-yellow);
    font-weight: 500;
    font-size: var(--text-titleSize);
    color: black;
}

.imageCat {
    width: 100%;
}

.newCategory {
    width: 100%;
    min-height: 200px;
    background-color: var(--component-Color);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: stretch;
    justify-items: center;
    gap: 10px;
    box-shadow: var(--component-shadow);
}


.displayNewCategory {
    width: 100%;
    max-width: 300px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: var(--component-shadow);
    padding: 20px;
    border-radius: 8px;
}

.addCategory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    background-color: var(--component-Color);
    color: var(--component-textColor);
    border-radius: 8px;
    padding: 20px;
    grid-column: span 2;
}

.currentCategory {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    gap: 10px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    padding: 10px;
    padding-top: 50px;
    align-items: center
}

@media (max-width : 900px) {
    .displayNewCategory {
        grid-column: 2 span;
        width: 50%;
    }
}