.nowPerfume {
    width: 100%;
    min-height: 200px;
    background-color: var(--component-Color);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    box-sizing: border-box;
    align-items: stretch;
    gap: 10px;
    box-shadow: var(--component-shadow);
    justify-items: center;
    align-items: center;
}

.editPerfum {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 8px;
    padding: 20px;
    color: var(--component-textColor);
    grid-column: 2 span;
}

.imagePerfume {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.newImagePerfume {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--primary-yellow);
    border-radius: 8px;
    overflow: hidden;
    border: 5px solid var(--border-color);
    align-items: center;
}

@media (max-width : 900px) {
    .newImagePerfume {
        grid-column: 2 span;
        width: 50%;

    }
}

.currentPerfume {
    width: 98%;
    max-width: 1480px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    border: 5px solid var(--primary-yellow);
    border-radius: 16px;
    padding: 10px;
    padding-top: 50px;
}