.editeCategory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.imageCat {
    width: 100%;
}

.imageCatTop {
    position: absolute;
    top: 0;
    width: 100%;
}


.addCategory2,
.addCategory1 {
    width: 100%;
}

.produtsByCategory {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    gap: 10px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    box-sizing: border-box;
}

.editInfo {
    border: none;
    transition: all 5ms ease-in-out;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-yellow);
    border: none;
    color: var(--primary-dark);
    border-radius: 8px;
}

.editInfo:active {
    transform: scale(0.8, 0.8);
}

.onOff {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.activeFalse {
    position: absolute;
    top: 0;
    width: 150px;
    height: 50px;
    /* background-color: red; */
    z-index: 100;
    border-radius: 8px;
    right: 0px;
}

.activeTrue {
    position: absolute;
    top: 0;
    width: 75px;
    height: 75px;
    background-color: green;
    z-index: 100;
    border-radius: 8px;
    right: 0px;
}