.myCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.myCartTitle {
    width: 98%;
    max-width: 1480px;
    height: 54px;
    background-color: #202126;
    color: white;
    font-family: Script MT;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.myCartContener {
    width: 98%;
    max-width: 1480px;
    min-height: 500px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.cart {
    width: 100%;
    min-height: 300px;
    background-color: #202126;
    border-radius: 8px;
    padding: 10px;
}

.cartHader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.hrCart {
    border-top: 3px solid #F1C92F;
    width: 98%;
    margin: 5px;
    color: #F1C92F;
    opacity: 1;
}



.cleanCart {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: #202126;
    color: aliceblue;
    transition: all 0.01s linear;
    border: 4px solid #F1C92F;
    border-radius: 8px;
    transition: all 0.01s linear;
}

.cleanCart:active {
    transform: scale(0.9);
    transition: all 0.01s linear;
}

.cleanCart:hover {
    background-color: #F1C92F;
    color: #202126;
}

.cartFooter {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totalCart {
    width: 55%;
    height: 40px;
    background-color: #F1C92F;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartMain {
    width: 100%;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-bottom: 10px;
    align-items: stretch;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
}

@media screen and (max-width: 900px) {
    .cartMain {
        width: 98%;
        grid-template-columns: 1fr;
    }
}

.cartBody1 {
    width: 100%;
}

.cartBody2 {
    width: 100%;
    background-color: #30323f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
}

.butten {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noProducts {
    width: 100%;
    height: 200px;
    background-color: white;
    color: #202126;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.htSummary {
    color: #F1C92F;
    width: 100%;
    margin: 5px 0px;
}

.orderSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 10px;
}