.myCartContener {
    width: 98%;
    max-width: 1480px;
    min-height: calc(100vh - 150px);
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.cart {
    width: 100%;
    min-height: 300px;
    background-color: var(--component-Color);
    border-radius: 8px;
    padding: 10px;
    box-shadow: var(--component-shadow);
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.cartHader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.hrCart {
    border-top: 3px solid var(--primary-yellow);
    width: 98%;
    margin: 5px;
    color: var(--primary-yellow);
    opacity: 1;
}

.cleanCart {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: #151520;
    color: var(--primary-light);
    transition: all 0.01s linear;
    border: 2px solid var(--primary-yellow);
    border-radius: 8px;
    transition: all 0.01s linear;
    box-shadow: var(--component-shadow);
}


.cleanCart:active {
    transform: scale(0.9);
    transition: all 0.01s linear;
}

.cleanCart:hover {
    background-color: var(--primary-yellow);
    color: var(--primary-dark);
}

.cartFooter {
    width: 100%;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.totalCart1 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--component-textColor);
}

.totalCart2 {
    width: 100%;
    height: 40px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-dark);
    box-shadow: var(--component-shadow);
}

.cartMain {
    width: 100%;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: stretch;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
}

@media screen and (max-width: 900px) {

    .cartFooter,
    .cartMain {
        width: 98%;
        grid-template-columns: 1fr;
    }
}

.cartBody1 {
    width: 100%;
}

.cartBody2 {
    width: 100%;
    background-color: var(--primary-light);
    color: var(--component-textColor);
    color: var(--primary-dark);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: var(--component-shadow);
}

.butten {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.htSummary {
    color: var(--component-Color);
    width: 100%;
    margin: 5px 0px;
}

.orderSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 10px;
    color: var(--primary-dark);
}

.kk {
    width: 100%;
    display: flex;
}