.sidBar {
    height: calc(100vh - 65px);
    background-color: var(--primary-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border-radius: 8px;
    padding: 5px;
    transition: all 0.5s linear;
    margin-top: 5px;
    position: sticky;
    top: 55px;
}


.sidUnActive {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    text-decoration: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

.sidUnActive:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}


.sidActive {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    background-color: #202126;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    transition: all 0.5s linear;
}

.linkName {
    transition: all 0.5s linear 0.2s;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

/* .linkIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* @media (max-width : 600px) {
    .sidBar {
        width: 20px;

    }
} */

.iconSvg {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}