.messagesContener {
    width: 98%;
    max-width: 1480px;
    min-height: 200px;
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 34px;
    align-items: center;
    min-height: 100vh;
}