.post {
    width: 98%;
    max-width: 600px;
    background-color: var(--component-Color);
    color: var(--component-textColor);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: var(--component-shadow);
}

.postHader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.ttt2 {
    width: calc(100% - 35px);
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imgLogo {
    width: 40px;
    background-color: var(--primary-dark);
}


.menuPo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 5px;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}

.menuPo:hover {
    background-color: #5457684f;
}

.menuOpenPo {
    top: 29px;
    left: 22px;
    position: absolute;
    width: 165px;
    background-color: white;
    border-radius: 8px;
    z-index: 100;
    padding: 5px;
    transition: all 0.2s linear;
    color: var(--primary-dark);
    overflow: hidden;
}

.menuClosePo {
    overflow: hidden;
    top: 25px;
    left: 25px;
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.2s linear;
}

.postBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    gap: 10px;
}

.text {
    width: 100%;
    text-align: left;
}

.postImage {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.media {
    width: 100%;
    background-color: var(--primary-yellow);
    display: contents;
    overflow: hidden;
}

.postTail {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editeButten,
.postFavoret,
.postShare {
    width: 150px;
    height: 40px;
    background-color: var(--primary-yellow);
    border-radius: 8px;
    border: 0;
    margin: 0;
    color: var(--primary-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all 0.1s linear;
    font-size: var(--text-size);
}

.editeButten:hover,
.postFavoret:hover,
.postShare:hover {
    border: 4px solid white;
    box-shadow: 3px 4px 16px 6px var(--primary-yellow);
}

.postFavoret:active,
.postShare:active,
.deleteButten:active {
    transform: scale(0.98, 0.98);
}

.editPostbutton {
    text-decoration: none;
}