.register {
    position: absolute;
    width: 98%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxRegister {
    width: 400px;
    aspect-ratio: 4 / 5;
    background-color: var(--secondary-light);
    padding: 10px;
    border-radius: 16px;
    box-shadow: 3px 4px 16px 6px #272626;
    border: 4px solid var(--primary-yellow);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin-top: 100px;
    margin: 10px;
    transition: all 0.1s ease-in-out;
}

@media (max-width : 450px) {
    .boxRegister {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
}

.formFooter,
.formHeader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-dark);
    font-weight: bolder;
    font-size: large;
}


.loginFormBody {
    height: 200px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
}

.hiddenBassWorld {
    position: absolute;
    top: 0;
    right: 23px;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.formButtonLogin {
    width: 100%;
    height: 40px;
    background-color: var(--primary-yellow);
    border: none;
    color: var(--primary-dark);
    border-radius: 8px;
    transition: all 0.5ns ease-in-out;
    font-weight: 500;
    font-size: 12px;
}

.formButtonLogin:hover {
    border: 4px solid white;
    box-shadow: 3px 4px 16px 6px var(--primary-yellow);

}

.formButtonLogin:active {
    transform: scale(0.98, 0.98);
}


.form-label {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
}

.passsWorlContent {
    position: relative;

}

.hdiddenIcon {
    display: none;
}

.unhdiddenIcon {
    display: block;
}

.err {
    background-color: rgba(255, 0, 0, 0.126);
    height: 50px;
    width: 90%;
    margin: 0 5%;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.registerBt {
    width: 86%;
    height: 40px;
    background-color: var(--primary-dark);
    border-radius: 8px;
    border: 0;
    margin: 0;
    color: var(--primary-yellow);
    transition: all 1ns ease-in-out;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    border: 4px solid #F1C92F;
}

.registerBt:hover {
    background-color: #eadba0;
    color: var(--primary-dark);
}