.myNaturalFlower {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;
}

.displayNowFlower {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width : 900px) {
    .displayNowFlower {
        grid-column: 2 span;
        width: 50%;
    }
}

.addBand,
.addPaper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #202126;
    border-radius: 8px;
    padding: 20px;
    color: aliceblue;
}


.currentBouquets {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    padding: 10px;
    padding-top: 50px;
    align-items: center;
    gap: 20px;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-items: center;
    border: 5px solid #F1C92F;
    box-sizing: border-box;
}

.bouquetsquer {
    width: 400px;
    aspect-ratio: 1 / 1;
    display: flex;
    background-color: #F1C92F;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}

.fogDis {
    width: 90%;
    min-height: 100px;
    /* background-color: #F1C92F; */
    position: absolute;
    bottom: -120px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    transform: all 5ns esyin;
    color: #ffff;

}

.fogEdit {
    width: 100px;
    height: 40px;
    background-color: #F1C92F;
    position: absolute;
    top: -50px;
    left: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bouquetsquer:hover .fogDis {
    /* display: flex; */
    bottom: 25px;
    transition: all 0.2s ease-out;
}

.bouquetsquer:hover .fogEdit {
    /* display: flex; */
    top: 10px;
    transition: all 0.2s ease-out;
}

.fogEdit:hover {
    border: 4px solid black;
    transition: all 0s ease-out;
}

.image {
    width: 100%;
    height: 100%;

}

.addBandForm,
.addPaperForm {
    width: 100%;
}

.displayColr {
    width: 200px;
    height: 40px;
    border-radius: 8px;
}

/* ///////////////// */

.colorsAvailable {
    width: 100%;
    height: 50px;
    font-weight: bold;
    border: 3px solid #F1C92F;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}


.bandColor1 {
    margin-top: 10px;
    width: 100%;
    /* width: calc(100% - 6px); */
    height: 300px;
    background-color: #f1eef0;
    transition: all 0.5s linear;

    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    border-radius: 8px;
    overflow: hidden;
    gap: 5px;
}

.bandColor2 {
    margin-top: 10px;
    width: 100%;
    /* width: calc(100% - 6px); */
    height: 0px;
    background-color: #f1eef0;
    transition: all 0.5s linear;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    gap: 5px;
}

/* .orderArrwClose {
    
    transition: all 0.5s ease-in-out;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


} */

/* .orderArrwOpen:hover {
    background-color: #5457684f;
}

.orderArrwClose:hover {
    background-color: #5457684f;
} */

/* .orderArrwOpen {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.pItameOn {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.pItameOff {
    width: 98%;
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    overflow: hidden;
}

.pItameColor {
    width: 100%;
    height: 40px;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}