.couponCard {
    width: 207px;
    height: 300px;
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-radius: 16px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 4px 5px 12px black;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;

}

.couponCard:hover .bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce-7 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-70px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}




.CouponImg {
    width: 100%;
    margin-top: -80px;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.CouponText {
    font-weight: bold;
}

.DisValue {
    font-size: xxx-large;
    margin: 0px;
    color: red;
    font-weight: 900;
    padding: 0;
}

.getIt {
    width: 170px;
    height: 30px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 24px;
    font-size: large;
    font-weight: bolder;
}