.extraChocolate:hover .chocolateImage {
    display: block;
}

.extraChocolate:hover .tringelTail {
    display: block;
}

.extraChocolate {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #30323f;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.Increase,
.decrease {
    width: 25%;
    min-width: 30px;
    max-width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 3px solid #F1C92F;
    background-color: #202126;
    color: #F1C92F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.Increase:hover,
.decrease:hover {
    box-shadow: 0px 0px 13px #F1C92F;
}


.Increase:active,
.decrease:active {
    background: #F1C92F;
    color: #ffffff;
}

.chocolateImage {
    width: 200px;
    aspect-ratio: 16 / 9;
    background-color: #ffffff;
    position: absolute;
    top: -120px;
    left: 20px;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    border: 3px solid white;
    z-index: 10;
}

.chocolateImg {
    width: 100%;
}

.tringelTail {
    position: absolute;
    top: -27px;
    left: 20px;
    border-radius: 8px;
    color: white;
    display: none;
}