.chocolate {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

.currentChocolate {
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    padding: 10px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
}