.searchPageContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    gap: 30px;
    padding: 10px;
    padding-top: 50px;
    min-height: 100vh;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.divsearch {
    width: 98%;
    background-color: #202126;
    color: var(--primary-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 50;
    margin-top: 10px;
    border-radius: 8px;
    padding: 20px;
}