.perfumes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfumesTitle {
    width: 98%;
    height: 54px;
    background-color: #202126;
    color: white;
    font-family: Script MT;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 50;
    margin-top: 10px;
    border-radius: 8px;
}

.perfumesContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.perfumesMain {
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: stretch;
    justify-items: center;
    justify-content: space-evenly;
    gap: 10px;
    box-shadow: var(--component-shadow);
}

.perfumesSize {
    padding: 20px 10px;
    width: 100%;
    background-color: var(--component-Color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-radius: 8px;
    box-shadow: var(--component-shadow);

}

.cardContener {
    width: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-radius: 8px;
}



.perfumesDecription {
    width: 100%;
    background-color: var(--component-Color);
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    color: var(--component-textColor);
    border-radius: 8px;
    padding: 20px;
    box-shadow: var(--component-shadow);
    grid-column: 2 span;
}

.inputperfumesImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--primary-yellow);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border: 5px solid var(--border-color);
    box-shadow: var(--component-shadow);
}

@media (max-width : 900px) {
    .inputperfumesImage {
        grid-column: 2 span;
    }
}

.imgNaturalFlowers {
    width: 100%;
}

.input4 {
    width: 50%;
}

.input5 {
    width: 100%;
}

.input6 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
}

.cc {
    color: white;
    width: 15%;
    font-size: large;
}



.size {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.ml {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.1s linear;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow), inset -6px 4px 10px 2px gray;
}

.cckkk {
    width: 20%;
}

.res {
    width: 98%;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 10px;
    justify-items: center;
}

@media screen and (max-width: 465px) {

    .res,
    .perfumesMain,
    .flowersBouquetMain {
        width: 98%;
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    }
}

.addToCart {
    width: 100%;
    height: 40px;
    background-color: #F1C92F;
    border-radius: 8px;
    border: 0;
    margin: 0;
    color: aliceblue;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.9s linear;
    position: relative;
}

.addToCartIcon {
    width: 20px;
    margin-left: 30px;
    transition: all 0.3s linear;
}

.boint {
    margin-right: -60px;
    margin-left: 20px;
    display: none;
    transition: all 0.9s linear;
}

.addToCart:hover .addToCartIcon {
    margin-right: -30px;
    margin-left: 60px;
    rotate: 45deg;
    rotate: -45deg;
}

.addToCart:hover .boint {
    display: block;
    margin-left: 40px;
}

.addToCart:hover {
    box-shadow: 0px 0px 13px #F1C92F;
}

.whaid {
    width: 100%;
}