.perfumes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfumesTitle {
    width: 98%;
    height: 54px;
    background-color: #202126;
    color: white;
    font-family: Script MT;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 50;
    margin-top: 10px;
    border-radius: 8px;
}

.perfumesContener {
    width: 98%;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.perfumesMain {
    width: 100%;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 20px;
    padding-bottom: 10px;
    align-items: stretch;
    justify-content: space-evenly;
    justify-items: center;
}

.perfumesSize {
    padding: 20px 10px;
    width: 100%;
    background-color: #202126;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    border-radius: 8px;
}

.cardContener {
    width: 98%;
    background-color: #202126;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-radius: 8px;
}

.sizeName {
    width: 100%;
    background-color: #30323f;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.text11 {
    text-align: -webkit-center;
    font-family: Script MT;
    height: 60px;

}

.priceBySize {
    width: 100%;
    height: 42px;
    background-color: #30323f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.perfumesDecription {
    width: 100%;
    background-color: #202126;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    padding: 10px;

}

.inputperfumesImage {
    width: 98%;
    aspect-ratio: 1 / 1;
    background-color: #202126;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border: 5px solid #ffffff;
    position: relative;
}

.imgNaturalFlowers {
    width: 100%;
}

.input2 {
    width: 100%;
    background-color: #202126;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.input3 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #30323f;
    border-radius: 4px;
    margin-bottom: 10px;
}

.input4 {
    width: 50%;
}

.input5 {
    width: 100%;
}

.input6 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
}

.vv1 {
    color: #F1C92F;
    font-family: Script MT;
    font-weight: bold;
    font-size: xx-large;
}

.vv2 {
    color: white;
    width: 60%;
    font-size: large;
}

.cc {
    color: white;
    width: 15%;
    font-size: large;
}

.vv3 {
    color: white;
    font-family: Script MT;
    font-weight: bold;
    font-size: xx-large;
}

.size {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.ml {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cckkk {
    width: 20%;
}

.res {
    width: 98%;
    display: grid;
    grid-auto-columns: (max-content 2);
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 10px;
    justify-items: center;
}

@media screen and (max-width: 465px) {

    .res,
    .perfumesMain,
    .flowersBouquetMain {
        width: 98%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.addToCart {
    width: 100%;
    height: 40px;
    background-color: #F1C92F;
    border-radius: 8px;
    border: 0;
    margin: 0;
    color: aliceblue;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.9s linear;
    position: relative;
}

.totalCost {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.addToCartIcon {
    width: 20px;
    margin-left: 30px;
    transition: all 0.3s linear;
}

.boint {
    margin-right: -60px;
    margin-left: 20px;
    display: none;
    transition: all 0.9s linear;
}

.addToCart:hover .addToCartIcon {
    margin-right: -30px;
    margin-left: 60px;
    rotate: 45deg;
    rotate: -45deg;
}

.addToCart:hover .boint {
    display: block;
    margin-left: 40px;
}

.addToCart:hover {
    box-shadow: 0px 0px 13px #F1C92F;
}

.whaid {
    width: 100%;
}