.mySettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}


.myCunterContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    /* min-height: 200px; */
    border-radius: 16px;
    /* border: 5px solid #F1C92F; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    overflow: hidden;
}

.cunter {
    width: 33%;
    aspect-ratio: 21/9;
    border-radius: 8px;
    background-color: var(--primary-yellow);
    color: var(--primary-dark);
    font-size: var(--text-titleSize);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
}

.mySettingsContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    min-height: 200px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    overflow: hidden;
}



.sliderContener {
    width: 100%;
    min-height: 200px;
    background-color: var(--component-Color);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* align-items: stretch; */
    justify-items: center;
    gap: 10px;
    box-shadow: var(--component-shadow);
    margin-top: 20px;
}


.slider {
    width: 100%;
    aspect-ratio: 21/9;
    background-color: var(--primary-yellow);
    border-radius: 8px;
    overflow: hidden;
}


.currentSlider {
    width: 98%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #F1C92F;
    border-radius: 16px;
    padding: 10px;
    padding-top: 50px;
    gap: 20px;
}

.textarea2 {
    max-height: 200px;
}

.newimgSlider {
    width: 100%;
    min-height: 200px;
    max-height: 620px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 10px;
    grid-column: 2 span;
}

.currentImgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}


@media (max-width : 900px) {
    .currentImgs {
        grid-column: 2 span;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        gap: 10px;
        overflow: auto;
    }
}

.citiesContenar {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid #F1C92F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.ContactContenar {
    .sliderContener {
        width: 100%;
        min-height: 200px;
        background-color: var(--component-Color);
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
        display: grid;
        grid-auto-columns: (max-content 4);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* align-items: stretch; */
        justify-items: center;
        gap: 10px;
        box-shadow: var(--component-shadow);
        margin-top: 20px;
    }
}

/* ////////////// */


.neighborhoodsItem {
    width: fit-content;
    height: 50px;
    border-radius: 8px;
    background-color: var(--primary-yellow);
    color: var(--primary-dark);
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.5s ease-in-out;
}

.neighborhoodsItem:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    margin: 0px 10px;
}

.neighborhoodsItemDelete {
    width: 0%;
    height: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 6px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.neighborhoodsItem:hover .neighborhoodsItemDelete {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.currentCities {
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    /* display: grid; */
    /* grid-auto-columns: (max-content 4);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.citiesLest {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background: var(--component-Color);
    box-shadow: var(--component-shadow);
}

.citiesMap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    align-content: flex-start;
    padding: 10px;
    scrollbar-color: var(--primary-yellow) var(--component-Color);
    scrollbar-width: thin;
}

/* ///////// */
.charts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr)) auto;
    /* grid-template-rows: repeat(2, minmax(20px, 200px)); */
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.barChart {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    grid-column: span 2;
    grid-row-start: 1;

}

.lineChart {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    grid-column: span 3;

}

.map1 {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    grid-column-start: 3;
    grid-row-start: 1;
    overflow: hidden;

}


.yearsName {
    width: 200px;
    height: 100%;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    grid-row: span 2;
    grid-column-end: -1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}


/* repeat(auto-fit, minmax(250px, 1fr)); */
/* ///////// */
.oneYear {
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary-light);
    box-shadow: var(--component-shadow);
    border-radius: 8px;
    padding: 10px;
    position: sticky;
    top: 0;

}

.point {
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #F1C92F;

}