.ml {
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.cckkk {
    width: 20%;
    position: absolute;
    left: 10px;
}

.sizeName {
    width: 100%;
    height: 42px;
    background-color: var(--primary-dark);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.vv3 {
    color: var(--primary-light);
    font-size: large;
}

.text11 {
    text-align: -webkit-center;
    font-size: large;
    height: 50px;
}

.priceBySize {
    width: 100%;
    height: 42px;
    background-color: var(--primary-dark);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}