.addProductContener {
    box-sizing: border-box;
    width: 98%;
    max-width: 1480px;
    border-radius: 16px;
    border: 5px solid var(--primary-yellow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    overflow: hidden;
}

.newPerfum {
    width: 100%;
    background-color: var(--secondary-light);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.5s linear;
    box-shadow: var(--component-shadow), inset -6px 4px 10px 2px gray;
    overflow: hidden;
}

.productArrwClose {
    width: 30px;
    height: 30px;
    color: var(--primary-light);
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    margin-right: 20px;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.productArrwOpen:hover {
    background-color: #5457684f;
}

.productArrwClose:hover {
    background-color: #5457684f;
}

.productArrwOpen {
    width: 30px;
    height: 30px;
    color: var(--primary-light);
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
    margin-right: 20px;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.productHader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-light);
    font-weight: 700;
}

.newPerfumeOpen {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border-radius: 8px;
    padding: 20px;
    transition: all 0.5s linear;
}

.newPerfumeClose {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border-radius: 8px;
    padding: 20px;
    transition: all 0.5s linear;
    overflow: hidden;
}


.hrProduct {
    width: 100%;
    margin: 20px 0px;

}

.addCategory2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-items: flex-end;
}

.rowEdit {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}